.square-row {
  border: solid black 2px;  
  border-width: 2px;
  margin-bottom: 3px;
  display: table-row;
}

.square-container {
  display: table;
}

.square {
    display: table-cell;
    width: 100px;
    height: 100px;
    text-align: center;
    border: solid black 1px;
    background-color: aquamarine;
    vertical-align: middle;
}